

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
    body
    {
        background-image: url(logo.jpg);

        margin-left: 500px;
        margin-top: 100px;

    }
    table
    {
        color: bisque;
        background-color: rgb(19, 25, 43); 
    }

</style>

</head>
<body>
<h1>Lets listen to music !!</h1>

	<div th:unless="${isPremium}"  class="non-premium">
		<a href="pay">Get premium</a>
		<br>
		<a href="logout">LOGOUT</a>
	</div>
	
	
	
	<div th:if="${isPremium}"  class="premium">
		<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Genre</th>
				<th>Play</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="song:${songs}">
				<td th:text="${song.name}">			</td>
				<td th:text="${song.artist}">		</td>
				<td th:text="${song.genre}">		</td>
				<td >
					<audio controls>
        				<source th:src="${song.link}" type="audio/mpeg">
    				</audio>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	
</body>
</html>